// Main scss file
//

$social-link-color: rgba(1, 41, 112, 0.5);
$social-link-hover: rgba(1, 41, 112, 1.0);

.social-links {
  a {
    font-size: 20px;
    display: inline-block;
    color: $social-link-color;
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;

    &:hover {
      color: $social-link-hover;
    }
  }
}

#ija_metadata {
  background-image: url('../images/mandala.png') no-repeat bottom center;
  margin-bottom: 20px;
  margin-top: 15px;
  padding-bottom: 110px;
}
